
body{
    padding: 0;
    margin:0;
    background-color: #081026;
    height: 100vh;
    overflow: hidden;
    font-family: Arial, sans-serif;
}
.box {
    margin: 0;
    height: 100vh;
    transition: all .8s ease;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
    background-color: #081026;
   /*  background-image: url('/bg.gif'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-position-y: 120px; */
}

header {
    margin-bottom: 20px;
}

h1 {
    color: #ffffff;
    font-size: 2rem;
}

#controls button {
    padding: 10px 15px;
    margin: 10px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #15bbea;
}

#music-player {
    margin: 20px 0;
}

#sound-effects button {
  
    font-size: 16px;
    cursor: pointer;
}

#sound-effects{
    display: flex;
    position: relative;
   
}


#sound-effects p{
    margin: 0;
    color: white;
    font-weight: bold;
    transform: translateY(2px);
}

#sound-effects img{
    width: 90px;
    height: 90px;
    
    object-fit: cover;
   /*  background-color: red; */
    border-radius: 50%;
   
    
    
}


button{
    
    background-color: transparent;
    border:none;
    color: white;
}
figure{
    margin: 0;
    
}

#sound-effects button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

 #sound-effects figure{
    position: relative;
    display: flex;
    width: 70px;
    height: 70px;
   
    justify-content: center;
    align-items: center;
    
    border-radius: 50%;
}
#sound-effects input {
    width: 4.5rem;
    margin-top: .5rem;
}

.active {
    border: 2px solid #15bbea;
    background-color: #15bcea27;
}

#sound-effects .active p{
    color: #15bbea;
}


.wheel{
    padding-top: 5rem;
    transform-origin:center;
    width: 100%;
    height: 100%;

    
}

.wheel img{
    
    object-fit: contain;
    object-position: center;
    animation: rotate-animation 10s infinite linear;
    
}




@keyframes rotate-animation {
	0% {
		transform: rotate(0deg);
  }
  50% {
		transform: rotate(180deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

/* Style for Menu Icon */
#menuIcon,#menuCloseIcon {
    position: relative;
    /* Add styles for your menu icon button */
    cursor: pointer;
    padding: 10px;
    font-size: 20px;
   
    border: none;
    border-radius: 5px;
}


/* Initial hidden state for musicMenu */
.hidden {
    transform: translateY(100%);
}

#musicMenu .music-menu-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content;
}


/* Style for Music Selection Menu */
#musicMenu label {
    display: inline-block;
    margin: 5px;
    padding: 5px;
   /*  border: 2px solid #15bbea; */
    color: #15bbea;
    border-radius: 5px;
    cursor: pointer;
}

/* Style for checked Music Tracks */
#musicMenu .musicTrack{
    position: absolute;
    opacity: 0;
}


#musicMenu .musicTrack:checked + label {
    background-color: #ffffff;
    border: none;
    color: #000;
    font-weight: bold;
}
/* Style for Music Menu */
#musicMenu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(17, 44, 91);
    padding: 20px;
    box-sizing: border-box;
    transition: transform 0.5s ease;
    z-index: 100;
}



/* Class to show musicMenu */
.show {
    transform: translateY(0);
}

.sound-box{
    display: flex;
    flex-direction: column;
}

.sound-box input {
    width: 4rem;
}





/* Existing styles */

.screen {
    display: none;
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.hidden-app {
    display: none;
}

.show-app {
    display: block;
    opacity: 1;
    transform: translateY(0);
}

/* LIST */

#musicList{
    margin: 2rem;
    padding: 0;
}

#musicList li {
    height: 9rem;
    
}

#musicList li button{
    position: relative;
    font-size: 1.5rem;
    text-align: center;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: medium;
    height: 100%;
    width: 100%;
    z-index: 100;
    opacity: 0;
}

#musicList li button svg {
    margin-top: 1rem;
}

.music-list-audio{
    position: relative;
    margin-top: 1.2rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: .5rem;
    overflow: hidden;
    filter: contrast(-40%);
    border: 1px solid white;
}
.music-list-audio-1{
    background-image: url(https://res.cloudinary.com/dnmjmjdsj/image/upload/v1702536537/audios/bg/9_rjzerz.png);
}

.music-list-audio-2{
    background-image: url(https://res.cloudinary.com/dnmjmjdsj/image/upload/v1702536426/audios/bg/8_pvaajv.png);
}

.music-list-audio-3{
    background-image: url(https://res.cloudinary.com/dnmjmjdsj/image/upload/v1702536145/audios/bg/7_x72dir.png);
}

.music-list-audio-4{
    background-image: url(https://res.cloudinary.com/dnmjmjdsj/image/upload/v1702536028/audios/bg/1_fivi7q.png);
}
.music-list-audio-5{
    background-image: url(https://res.cloudinary.com/dnmjmjdsj/image/upload/v1702537474/audios/bg/2_nyeole.png);
}
.music-list-audio-6{
    background-image: url(https://res.cloudinary.com/dnmjmjdsj/image/upload/v1702536758/audios/bg/5_bgmpv9.png);
}
.music-list-audio-7{
    background-image: url(https://res.cloudinary.com/dnmjmjdsj/image/upload/v1702537213/audios/bg/3_zkyivk.png);
}

.music-list-audio-8{
    background-image: url(https://res.cloudinary.com/dnmjmjdsj/image/upload/v1702536657/audios/bg/4_oqb884.png);
}
.music-list-audio-9{
    background-image: url(https://res.cloudinary.com/dnmjmjdsj/image/upload/v1702537213/audios/bg/3_zkyivk.png);
}

/*  .music-list-audio::before{
    position: absolute;
    content: "";
    top:0;
    left: 0;
    background-color: rgba(157, 169, 247, 0.323);
    width: 100%;
    height: 100%;

}  */

.screen-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.logo{
display: flex;
justify-content: center;
align-items: center;
margin-bottom: 1.8rem;
}

#musicSelectionScreen{
    height: 100vh;
    overflow-y: auto;
}

#welcomeScreen button{
background-color: rgb(255, 170, 0);
padding: 1rem;
border-radius: .5rem;
font-size: 1.1rem;
}


.slider {
    width: 300px;
    text-align: center;
    overflow: hidden;
  }
  
  .slides {
    display: flex;
    padding-left: 1.5rem;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    
    
    
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    
    /*
    scroll-snap-points-x: repeat(300px);
    scroll-snap-type: mandatory;
    */
  }
  .slides::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  .slides::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 10px;
  }
  .slides::-webkit-scrollbar-track {
    background: transparent;
  }
  .slides > div {
    scroll-snap-align: start;
    
    
  }



